<h1>Менеджмент проекта</h1>

<form [formGroup]="projectForm" (ngSubmit)="addProject()">
  <fieldset>
    <legend>Название*</legend>
    <div>
      <input type="text" name="name" formControlName="name"><br>
    </div>
    <div *ngIf="projectForm.controls['name'].invalid && projectForm.controls['name'].touched">
      <p>Имя указано неверно!</p>
    </div>
    <div *ngIf="projectForm.get('name')?.hasError('nameTaken') && edit == false">
      <p>Такое имя проекта уже существует!</p>
    </div>
  </fieldset>
  <fieldset>
    <legend>Описание</legend>
    <div>
      <textarea name="description" formControlName="description" rows="5" cols="50"></textarea>
    </div>
  </fieldset>
  <div *ngIf="edit == false; else edited">
    <button type="submit" [disabled]="projectForm.invalid">Сохранить</button>
  </div>
  <ng-template #edited>
    <button type="button" (click)="editProject(projectForm.value.id)">Сохранить изменения</button>
  </ng-template>
</form>

<div *ngIf="index() != 0">
  <h2>Список проектов:</h2>
  <div *ngFor="let project of projects">
    <fieldset>
      <legend>{{project.name}}</legend>
      <p>Описание: {{project.description}}</p>
      <p>Дата создания: {{project.dateCreation | today}} </p>
      <p>Дата изменения: {{project.dateChange | today}}</p>
      <button type="button" (click)="editProject(project.index)" [disabled]="edit">Изменить</button>
      <button type="button" (click)="deleteProject(project.index)" [disabled]="edit">Удалить</button>
      <button type="button" (click)="viewTasks(project.index)" [disabled]="edit">Перейти к задачам проекта</button>
      <button type="button" (click)="viewCommand()" [disabled]="edit">Перейти к командам</button>
    </fieldset>
  </div>
</div>
<ng-content></ng-content>