<h1>Проект</h1>

<form [formGroup]="projectForm" (ngSubmit)="addProject()">
  <fieldset>
    <legend>Название*</legend>
    <div>
      <input type="text" name="name" formControlName="name"><br>
    </div>
    <div *ngIf="projectForm.controls['name'].invalid && projectForm.controls['name'].touched">
      <p>ИМЯ указано неверно!</p>
    </div>
  </fieldset>
  <fieldset>
    <legend>Описание</legend>
    <div>
      <textarea name="description" formControlName="description" rows="5" cols="50"></textarea>
    </div>
  </fieldset>
  <div>
      <button *ngIf="edit == false; else edited" type="submit" [disabled]="projectForm.invalid">Сохранить</button>
    <ng-template #edited>
      <button #edited type="button" (click)="editProject(projectForm.value.index)">Сохранить изменения</button>
    </ng-template>
    <button type="button" (click)="viewTasks()" [disabled]="edit">Перейти к задачам проекта</button>
    <button type="button" (click)="viewCommand()" [disabled]="edit">Перейти к командам</button>
  </div>
</form>

<div *ngIf="projects.length != 0">
  <h2>Список проектов:</h2>
  <div *ngFor="let project of projects">
    <fieldset>
      <legend>{{project.name}}</legend>
      <p>Описание: {{project.description}}</p>
      <p>Дата создания: {{project.dateCreation | today}} </p>
      <p>Дата изменения: {{project.dateChange | today}}</p>
      <button type="button" (click)="editProject(project.index)" [disabled]="edit">Изменить</button>
      <button type="button" (click)="deleteProject(project.index)" [disabled]="edit">Удалить</button>
    </fieldset>
  </div>
</div>