<h1 class="text-center">Проект</h1>

<form class="bg-secondary bg-opacity-25" [formGroup]="projectForm" (ngSubmit)="addProject()">
  <fieldset class="mb-3 flex-nowrap">
    <legend class="form-label h3">Название*</legend>
    <div class="input-group">
      <input type="text" class="form-control" name="name" formControlName="name"><br>
    </div>
    <div class="form-label h3 text-danger" *ngIf="projectForm.controls['name'].invalid && projectForm.controls['name'].touched">
      ИМЯ указано НЕВЕРНО!
    </div>
  </fieldset>
  <fieldset class="mb-3 flex-nowrap">
    <legend class="form-label h3">Описание</legend>
    <div class="input-group">
      <textarea class="form-control" name="description" formControlName="description" rows="5" cols="50"></textarea>
    </div>
  </fieldset>
  <div class="btn-group mb-3 flex-nowrap">
      <button *ngIf="edit == false; else edited" class="btn btn-success" type="submit" [disabled]="projectForm.invalid">Сохранить</button>
    <ng-template #edited>
      <button #edited type="button" class="btn btn-success" (click)="editProject(projectForm.value.index)">Сохранить изменения</button>
    </ng-template>
    <button type="button" class="btn btn-dark" (click)="viewTasks()" [disabled]="edit">Перейти к задачам проекта</button>
    <button type="button" class="btn btn-dark" (click)="viewCommand()" [disabled]="edit">Перейти к командам</button>
  </div>
</form>

<div *ngIf="projects.length != 0">
  <h2 class="text-center">Список проектов:</h2>
  <div class="card" *ngFor="let project of projects">
    <fieldset class="bg-secondary bg-opacity-25">
      <legend class="card-title h3">Название: {{project.name}}</legend>
      <p class="card-text h5">Описание: {{project.description}}</p>
      <p class="card-text">Дата создания: {{project.dateCreation | today}} </p>
      <p class="card-text">Дата изменения: {{project.dateChange | today}}</p>
      <div class="btn-group">
        <button type="button" class="btn btn-info" (click)="editProject(project.index)" [disabled]="edit">Изменить</button>
        <button type="button" class="btn btn-danger" (click)="deleteProject(project.index)" [disabled]="edit">Удалить</button>
      </div>
    </fieldset>
  </div>
</div>