<h1>Менеджмент проекта</h1>

<form [formGroup]="projectForm" (ngSubmit)="addProject()">
  <fieldset>
    <legend>Название*</legend>
    <div>
      <input type="text" name="name" formControlName="name"><br>
    </div>
    <div *ngIf="projectForm.controls['name'].invalid && projectForm.controls['name'].touched">
      <p>Имя указано неверно или оно уже существует!</p>
    </div>
  </fieldset>
  <fieldset>
    <legend>Описание</legend>
    <div>
      <textarea name="description" formControlName="description" rows="5" cols="50"></textarea>
    </div>
  </fieldset>
</form>