<div>
  <nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Проекты</a><br>
    <a [routerLink]="['/tasks', '42']" routerLinkActive="active">Задачи</a><br>
    <a routerLink="/command" routerLinkActive="active">Комманды</a><br>
  </nav>
  <router-outlet></router-outlet>
</div>

<h1>Менеджмент проекта</h1>

<form [formGroup]="projectForm" (ngSubmit)="addProject()">
  <fieldset>
    <legend>Название*</legend>
    <div>
      <input type="text" name="name" formControlName="name"><br>
    </div>
    <div *ngIf="projectForm.controls['name'].invalid && projectForm.controls['name'].touched">
      <p>Имя указано неверно!</p>
    </div>
    <div *ngIf="projectForm.get('name')?.hasError('nameRepeat')">
      <p>Такое имя проекта уже существует!</p>
    </div>
  </fieldset>
  <fieldset>
    <legend>Описание</legend>
    <div>
      <textarea name="description" formControlName="description" rows="5" cols="50"></textarea>
    </div>
  </fieldset>
  <div *ngIf="edit == false" else edited>
    <button type="submit" [disabled]="projectForm.invalid">Сохранить</button>
  </div>
  <ng-template #edited>
    <button type="button" (click)="editProject(number())">Сохранить изменения</button>
  </ng-template>
</form>

<div *ngIf="count() != 0">
  <h2>Список проектов</h2>
  <div *ngFor="let project of getProjects()">
    <fieldset>
      <legend>{{project.number}}{{project.name}}</legend>
      <p>Описание: {{project.description}}</p>
      <p>Дата создания: {{project.dateCreation}}</p>
      <p>Дата изменения: {{project.dateChange}}</p>
      <button type="button" (click)="editProject(project.number)" onclick="form">Изменить</button>
      <button type="button" (click)="deleteProject(project.number)" [disabled]="edit">Удалить</button>
    </fieldset>
  </div>
</div>